<!DOCTYPE html>

{% load staticfiles %}
{% load filters %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		<link href='http://fonts.googleapis.com/css?family=Patua+One|Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="{% static 'shared.css' %}">
		{% block css %}{% endblock %}

		<script type="text/javascript" src="{% static 'd3.v3.js' %}"></script>
	</head>
	
	<body>

		<div id="container">
			<div id="header-container">
				<span id="logo">Fantasy Analytics</span>

				<div id="header-nav-links">
					<a href="#"><div class="nav-button">Stuff</div></a>
					<a href="#"><div class="nav-button">Other stuff</div></a>
					<a href="#"><div class="nav-button">Login</div></a>
				</div>
			</div>

			<div id="tiles-container">
				<table border="0" id="tiles-table">
					<tr><td id="nav-container-td"><div id="nav-container" class="tile">
						<div id="nav-links">
							<span class="span-header" id="nfl-span-header">NFL</span>
							<a href="{% url 'game:players' %}"><div class="nav-button">Players</div></a>
							<a href="{% url 'game:positions' %}"><div class="nav-button">Positions</div></a>
							<a href="{% url 'game:teams' %}"><div class="nav-button">Teams</div></a>
						</div>

						<div id="year-select-container">
							<span id="year-select-label" class="span-header">Season:</span>
							<form method="get"><select id="year-select" name="year" class="custom-select" onchange="this.form.submit()">
								{% for i in 2|count %}
									{% if 2014|minus:i == request.session.year %}
										<option value="{{ 2014|minus:i }}" selected="selected">{{ 2014|minus:i }}</option>
									{% else %}
										<option value="{{ 2014|minus:i }}">{{ 2014|minus:i }}</option>
									{% endif %}
								{% endfor %}
							</select></form>
						</div>

					</div></td></tr>
					{% block content %}{% endblock %}
				</table>
			</div>
		</div>
	</body>
</html>

{% block js %}{% endblock %}


