/* 
BACKGROUND COLORS
Dark black (site bg): #111214 / 17,18,20
Gray (tile bg): #2A2A2A / 42,42,42
Dark gray (tile header bg): #232323 / 39,39,39

TEXT COLORS
White gray (main text): #D4D4D4 / 212,212,212
Gray (tile headers): #828282 / 130,130,130

ACCENT COLORS
Blue: #21BDCD / 33,189,205
Red: #D3343A / 211,52,58
Orange: #FF9836 / 255,152,54
Green: #74AB58 / 116,171,88
Darker blue: #157680;
*/

/*****************/
/* GENERAL RULES */
/*****************/
html, body {
	background-color: #111214;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #828282;
}

.white-link, .white-link:link, .white-link:visited, 
.white-link-noblue:link, .white-link-noblue:visited,
.white-link-noblue, .white-link-noblue:hover, .white-link-noblue:active {
	cursor: pointer;
	text-decoration: none;
	color: #D4D4D4;
}

.gray-link, .gray-link:link, .gray-link:visited, 
.gray-link-noblue:link, .gray-link-noblue:visited,
.gray-link-noblue, .gray-link-noblue:hover, .gray-link-noblue:active {
	cursor: pointer;
	text-decoration: none;
	color: #232323;
}

.white-text {
	color: #D4D4D4;
}

a:hover, a:active, .white-link:hover, .white-link:active, .gray-link:hover, .gray-link:active {
	color: #21BDCD;
}

.filter, .filter:link, .filter:visited {
	cursor: pointer;
	color: #D4D4D4;
}

.filter:hover, .filter:active, .filter-selected, .filter-selected:link, .filter-selected:visited {
	color: #D4D4D4;
	text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
	color: #828282;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

.span-header {
	color: #828282;
	text-transform: uppercase;
	font-weight: 700;
}

hr {
	border-color: #828282;
}

#container {
	min-width: 1000px;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 20px;
}

form {
	margin: 0;
	padding: 0;
	display: inline;
}

.invisible {
	display: none;
}

.hidden {
	display: none;
}

.right {
	float: right;
}

.bluetext {
	color: #21BDCD;
	fill: #21BDCD;
}

.redtext {
	color: #D3343A;
	fill: #D3343A;
}

.orangetext {
	color: #FF9836;
	fill: #FF9836;
}

.greentext {
	color: #74AB58;
	fill: #74AB58;
}

.whitetext {
	color: #D4D4D4;
	fill: #D4D4D4;
}

.graytext {
	color: #828282;
	fill: #828282;
}


/*******************/
/* CUSTOM ELEMENTS */
/*******************/

.display-table {
	width: 100%;
	text-align: center;
	border-spacing: 2px;
}

.display-table th {
	text-transform: uppercase;
	background-color: #21BDCD;
	color: #D4D4D4;
	white-space: nowrap;
	overflow: hidden;
}

.table-subheader th {
	font-weight: 400;
	background-color: #157680;
	font-size: 16px;
}

.display-table td {
	background-color: #232323;
	color: #D4D4D4;
	white-space: nowrap;
	overflow: hidden;
}

.table-bigtext td, .table-bigtext th {
	font-size: 20px;
}

.td-wide {
	padding-left: 5px;
	padding-right: 5px;
}

svg {
	margin: 0;
	padding: 0;
}

.custom-select {
	padding: 5px;

	font-family: inherit;
	font-size: 18px; 
	outline: none;
	background: #2A2A2A; 
	color: #D4D4D4; 
	border: 1px solid #828282; 
}

.custom-textbox {
	padding: 0 5px;

	font-family: inherit;
	font-size: 18px; 
	outline: none;
	background: #2A2A2A; 
	color: #D4D4D4; 
	border: 1px solid #828282;
}

.span-button {
	text-transform: uppercase;
	color: #828282;
	border: 1px solid #828282;
	padding: 0 5px;
	cursor: pointer;
	font-size: 18px;
}

.span-button:hover, .span-button:active {
	color: #21BDCD;
	border: 1px solid #21BDCD;
}

.checkbox {
	fill: #2A2A2A;
	stroke: #828282;
	stroke-width: 2;
	shape-rendering: crispEdges;
}

.checkbox-inner {
	fill: #828282;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

/*****************************/
/* HEADER AND NAVIGATION BAR */
/*****************************/
#header-container {
	text-align: left;
	padding: 10px 15px;
}

#logo {
	font-family: 'Patua One', sans-serif;
	font-size: 40px;
	padding-left: 5px;
	color: #D4D4D4;
}

#header-nav-links {
	float: right;
	padding: 10px;
}

#nav-container {
	height: 30px;
	background-color: #232323;
}

#nav-links {
	float: left;
	padding-top: 2px;
}

#nfl-span-header {
	font-size: 18px;
}

.nav-button {
	display: inline-block;
	padding: 0 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 18px;
}

.nav-button:hover a {
	color: #21BDCD;
}

#year-select-container {
	float: right;
	text-align: center;
}

#year-select-label {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

#year-select {
	margin: 0 0 0 15px;
}

#week-select-container {
	float: right;
}

/**********************/
/* GENERAL TILE RULES */
/**********************/
#tiles-container {
	text-align: center;
	margin: 20px auto;
}

#tiles-table {
	margin: auto;
	width: 980px;
	border-spacing: 15px;
}

.tile {
	background: #2A2A2A;
	margin: 0px;
	padding: 10px;
	text-align: left;
}

.tile-header {
	margin: 0;
	width: 100%;
	padding: 5px 10px 5px 10px;
	position: relative;
	top: -10px;
	left: -10px;

	background: #232323;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
}

.tile-title {
	text-transform: capitalize;
	font-size: 28px;
	line-height: 28px;
	color: #D4D4D4;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: left;
}

/******************/
/* VISUALIZATIONS */
/******************/

.axis path,
.axis line {
	fill: none;
	stroke: #828282;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 12px;
	fill: #828282;
}

.axis-label {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	fill: #828282;
}

.line {
	stroke-width: 2;
	fill: none;
}

