<h5>2013 Season</h5>
<table border="0" class="display-table">
	<tr>
		<th>Pts</th>
		<th>Rec</th>
		<th>Yds</th>
		<th>TD</th>
	</tr>
	<tr>
		<td>{{ cur_season_yeardata.data.points }}</td>
		<td>{{ cur_season_yeardata.data.rec }}</td>
		<td>{{ cur_season_yeardata.data.recYds }}</td>
		<td>{{ cur_season_yeardata.data.recTDs }}</td>
	</tr>
</table>
<br/>
<h5>Career</h5>
<table border="0" class="display-table">
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>xxx</td>
		<td>xxx</td>
		<td>xxxx</td>
		<td>xx</td>
	</tr>
</table>