<h5>2014 Season</h5>
<table border="0" class="display-table table-bigtext">
	<tr>
		<th title="Fantasy Points">Pts</th>
		<th title="Fantasy Points Per Game">FPPG</th>
		<th title="Receiving Yards">Yds</th>
		<th title="Receiving Touchdowns">TD</th>
	</tr>
	<tr>
		<td>{{ cur_season_yeardata.data.points }}</td>
		<td>{{ cur_season_yeardata.average }}</td>
		<td>{{ cur_season_yeardata.data.recYds }}</td>
		<td>{{ cur_season_yeardata.data.recTDs }}</td>
	</tr>
</table>
<br/>
<h5>Career</h5>
<table border="0" class="display-table table-bigtext">
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>xxx</td>
		<td>xxx</td>
		<td>xxxx</td>
		<td>xx</td>
	</tr>
</table>