<h5>2014 Season</h5>
<table border="0" class="display-table table-bigtext">
	<tr>
		<th title="Fantasy Points">Pts</th>
		<th title="Field Goals Made">FGM</th>
		<th title="Extra Points Made">XPM</th>
	</tr>
	<tr>
		<td>{{ cur_season_yeardata.data.points }}</td>
		<td>xxx</td>
		<td>xxx</td>
	</tr>
</table>
<br/>
<h5>Career</h5>
<table border="0" class="display-table table-bigtext">
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<tr>
		<td>xxx</td>
		<td>xxxx</td>
		<td>xx</td>
	</tr>
</table>