{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{ player.name }}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'game/player_detail.css' %}">
{% endblock %}

{% block content %}
<tr>
	<td><div class="tile player-info-tile">
		<h4 class="tile-header">&#9702; Player Info</h4>
		<h2 class="tile-title">{{ player.name }}</h2>
		<hr>
		<img src="{{ image_path }}" class="player-image"/>
		<div class="player-info-container">
			<p class="player-info-text">#{{ player.number }} <a href="{% url 'game:positions' %}{{ player.position.id }}" class="white-link">{{ player.position.abbr }}</a></p>
			{% if player.weight > 0 %}
			<p class="player-info-text">{{feet}}'{{inches}}", {{ player.weight }} lbs</p>
			{% endif %}

			{% if age %}
			<p class="player-info-text">Age: {{ age }}</p>
			{% endif %}

			<p class="player-info-text"><a href="{% url 'game:teams' %}{{ cur_season_team.id }}" class="white-link">{{ cur_season_team.name }}</a></p>
		</div>
		<div class="player-season-table-container">
			{% include player_detail_table_path %}
		</div>
	</div></td>

	<td><div class="tile weekly-performance-tile">
		<h4 class="tile-header">&#9702; Weekly Performance</h4>
		<div id="player-graph-container"></div>
		<div id="player-legend-container"></div>

		<div id="hover-box" class="hidden">
			<span id="hover-box-header" class="hover-box-content"></span><br/>
			<span id="hover-box-date" class="hover-box-content"></span><br/>
			<span id="hover-box-result" class="hover-box-content"></span><br/>
			<hr/>
			<span id="hover-box-bluetext-header" class="bluetext">Fantasy Points: </span><span id="hover-box-bluetext" class="hover-box-content"></span><br/>
			<span id="hover-box-redtext-header" class="redtext"></span><span id="hover-box-redtext" class="hover-box-content"></span><br/>
			<span id="hover-box-orangetext-header" class="orangetext"></span><span id="hover-box-orangetext" class="hover-box-content"></span><br/>
			<span id="hover-box-greentext-header" class="greentext"></span><span id="hover-box-greentext" class="hover-box-content"></span><br/>
		</div>
	</div></td>
</tr>
<tr>
	<td colspan="2"><div class="tile projections-tile">
		<h4 class="tile-header">&#9702; Fantasy Projections</h4>
		{% if matchup.bye %}
		<div class="proj-col">
			<h2>BYE WEEK</h2>
		</div>

		{% else %}
		<div class="proj-col">
			<h3>{{ matchup.home_team.abbr }} vs. {{ matchup.away_team.abbr }}</h3>
			<a href='{{espn_game_url}}{{matchup.espn_game_id}}' target='_blank' class='player-info-text white-link'>
				{{ matchup.date }}<br/>
				{{ matchup_location }}<br/>
			</a>
			<br/>
			<h3>Previous matchup</h3>
			<p class="player-info-text">
				{% if prev_matchup_result %}
					<a href='{{espn_game_url}}{{prev_matchup_espn_id}}' target='_blank' class='white-link'>{{ prev_matchup_result }}</a>
				{% else %}
					None
				{% endif %}
			</p>
		</div>
		<div class="proj-col">
			<h3>Our Projection</h3>
			<p class="player-info-text projection-number">000 points</p>
			<br/>
			{% if week_gamedata.data.points %}
			<h3>Actual Score</h3>
			<p class="player-info-text">{{ week_gamedata.data.points }} points</p>
			{% endif %}
		</div>
		<div class="proj-col">
			<h3>Other Projections</h3>
			<table border="0" class="display-table table-bigtext">
				<tr>
					<th>ESPN</th>
					<th>Yahoo</th>
					<th>CBS</th>
				</tr>
				<tr>
					<td>{% if week_gamedata.espn_projection %}{{ week_gamedata.espn_projection }}{% endif %}</td>
					<td>{% if week_gamedata.yahoo_projection %}{{ week_gamedata.yahoo_projection }}{% endif %}</td>
					<td>{% if week_gamedata.cbs_projection %}{{ week_gamedata.cbs_projection }}{% endif %}</td>
				</tr>
			</table>
		</div>
		{% endif %}

		<div id="week-select-container">
			<form method="get"><select id="week-select" name="week" class="custom-select" onchange="this.form.submit()">
				{% for i in request.session.max_week|count %}
					{% if i|add:1 == request.session.week_number %}
						<option value="{{ i|add:1 }}" selected="selected">Week {{ i|add:1 }}</option>
					{% else %}
						<option value="{{ i|add:1 }}">Week {{ i|add:1 }}</option>
					{% endif %}
				{% endfor %}
			</select></form>
		</div>
	</div></td>
</tr>
{% endblock %}


{% block js %}
<script>
	var dataset = {{ cur_season_gamedata | safe }};
	var playerTeamAbbr = '{{ cur_season_team.abbr }}';
	var pos = '{{ player.position.abbr }}';
	var gameUrl = 'http://sports-ak.espn.go.com/nfl/boxscore?gameId=';
</script>
<script type="text/javascript" src="{% static 'game/player_detail_weekly_graph.js' %}"></script>
{% endblock %}


