{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Positions{% endblock %}

{% block content %}
<tr>
	<td><div class="tile" id="positions-tile">
		<h4 class="tile-header">&#9702; Positions</h4>
		<h2 class="tile-title">Position Analysis</h2>
		<hr>
		<p><a href="{% url 'game:positions' %}1" class="white-link">Quarterbacks</a></p>
		<p><a href="{% url 'game:positions' %}2" class="white-link">Runningbacks</a></p>
		<p><a href="{% url 'game:positions' %}3" class="white-link">Wide Receivers</a></p>
		<p><a href="{% url 'game:positions' %}4" class="white-link">Tight Ends</a></p>
		<p><a href="{% url 'game:positions' %}5" class="white-link">Defense / Special Teams</a></p>
		<p><a href="{% url 'game:positions' %}6" class="white-link">Kickers</a></p>
	</div></td>
</tr>
{% endblock %}

