{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block title %}{{ position.name }} Comparison{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'game/position_detail.css' %}">
{% endblock %}

{% block content %}
<tr>
	<td><div class="tile" id="depth-tile">
		<h4 class="tile-header">&#9702; Depth Chart Analysis</h4>
		<h2 class="tile-title">{{ position.name }} Comparison</h2>

		<div id="week-select-container">
			<form method="get"><select id="week-select" name="week" class="custom-select" onchange="this.form.submit()">
				{% for i in 17|count %}
					{% if i|add:1 == request.session.week_number %}
						<option value="{{ i|add:1 }}" selected="selected">Week {{ i|add:1 }}</option>
					{% else %}
						<option value="{{ i|add:1 }}">Week {{ i|add:1 }}</option>
					{% endif %}
				{% endfor %}
			</select></form>
		</div>

		<hr>
		{% include position_detail_table_path %}

		{% if position.id >= 1 and position.id <= 4 %}
		<p id="detail-filler">Hover over a player to see details.</p>
		<div id="depth-detail" class="hidden">
			<h4 id="detail-header"></h4>
			<p id="detail-subheader"></p>
			<img id="detail-image"/>
			<p id="detail-score"></p>
		</div>
		{% endif %}
	</div></td>
</tr>
{% endblock %}

{% block js %}
<script type="text/javascript">
	var dataset = {{ team_map_list_json | safe }};
	var teams = {{ teams_json | safe }};
	var team_url = "{% url 'game:teams' %}";
	var player_url = "{% url 'game:players' %}";
	var image_url_prefix = "http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/";
</script>
<script type="text/javascript" src="{% static 'game/depth_table.js' %}"></script>
{% endblock %}
