{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block title %}Teams{% endblock %}

{% block content %}
<tr>
	<td><div class="tile">
		<h4 class="tile-header">&#9702; Teams</h4>
		<table border="0" class="display-table" id="teams-table">

			{% for dir in directionList %}
			{% with dirIndex=forloop.counter|minus:1|times:4 %}
			<tr class="table-mainheader">
				<th>NFC {{ dir }}</th>
				<th>AFC {{ dir }}</th>
			</tr>
			<tr>
				{% for c in 4|count %}
				{% with i=c|add:dirIndex %}{% with j=i|add:16 %}
				<tr>
					<td><a href="{{ i|add:1 }}" class="white-link">{{ team_list|index:i }}</a></td>
					<td><a href="{{ j|add:1 }}" class="white-link">{{ team_list|index:j }}</a></td>
				</tr>
				{% endwith %}{% endwith %}
				{% endfor %}
			{% endwith %}
			{% endfor %}

		</table>
	</div></td>
</tr>
{% endblock %}

